<div class="pomodoro" [class.done]="finished()">
  <div class="bar" role="progressbar" [attr.aria-valuenow]="remainingPercent()" aria-valuemin="0" aria-valuemax="100">
    <div class="fill" [style.width.%]="remainingPercent()"></div>
    <span class="left">{{ remainingLabel() }}</span>
  </div>
  <span class="total">{{ totalMinutes() }} mins</span>
</div>
@if (finished()) {
  <div class="ended">
    <span>Time's up.</span>
    @if (alarmService.ringing()) {
      <button type="button" class="stop-alarm" (click)="alarmService.stop()">Stop alarm</button>
    }
    <button type="button" class="secondary" (click)="snooze()">Snooze {{ snoozeMinutes }} min</button>
  </div>
}
